.mainLayout {
  font-family: "nanumsquare", sans-serif;
  width: 100%;
  display: flex;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
  transition: 1s all;
  justify-content: center;


  .side {
    grid-area: side;
    min-width: 200px;
  }

  .side1 {
    grid-area: side1;
    min-width: 200px;
  }
}

.projectLayout {
  width: 1000px;

  .primaryProjectContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text slide";

    .primaryProjectText {
      z-index: 2;

      grid-area: text;
      display: grid;
      overflow: visible;
      grid-template-rows: min-content 10px min-content 0px min-content 30px auto;
      grid-template-areas:
      "title"
      "."
      "content"
      "."
      "subContent"
      "."
      "control";

      > span:nth-child(1) {
        grid-area: title;
      }

      > span:nth-child(2) {
        grid-area: content;
      }

      > span:nth-child(3) {
        grid-area: subContent;
      }

      > .control {
        display: flex;
        font-size: 26px;
        grid-area: control;

        > .controlButton {
          margin-right: 30px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

       }
       > .controlButton:hover {
         cursor: pointer;

       }
     }

   }

   .primaryProjectSlideContainer {
     height: 100%;
     grid-area: slide;
     width: 100vw;
     overflow: hidden;

     .primaryProjectSlide {
       height: 100%;
       width: 400px;
       overflow: visible;
       margin-left: 0;

       .card {
         width: 400px;
         height: 100%;
         max-height: 200px;
         border-radius: 30px;
         background-color: #242424;
       }
     }

   }


 }

}

.titleStyle {
 font-size: 40px;
 font-weight: bolder;
}

.contentStyle {
 font-size: 36px;
 font-weight: 500;
 line-height: 120%;
}

.subContentStyle {
 font-size: 27px;
 font-weight: 500;
 color: #A18B68 !important;
}

.opened {

}