.mainLayout {
  font-family: "nanumsquare", sans-serif;
  width: 100%;
  display: flex;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
  transition: 1s all;
  justify-content: center;


  .side {
    grid-area: side;
    min-width: 200px;
  }

  .side1 {
    grid-area: side1;
    min-width: 200px;
  }
}

.projectLayout {
  display: grid;
  width: 1000px;
  grid-template-rows: 30vh min-content 30vh min-content 100px;
  grid-template-areas:
          "."
          "mainProject"
          "."
          "secondaryProject"
          ".";

  .primaryProjectContainer {
    width: inherit;
    display: grid;
    grid-area: mainProject;
    grid-template-areas: "text slide";
    grid-template-columns: 50% 50%;
  overflow: visible;


    .primaryProjectText {
      z-index: 2;
      grid-area: text;
      display: grid;
      grid-template-rows: min-content 10px min-content 0px min-content 30px auto;
      grid-template-areas:
      "title"
      "."
      "content"
      "."
      "subContent"
      "."
      "control";

      > span:nth-child(1) {
        font-size: 40px;
        grid-area: title;
      }

      > span:nth-child(2) {
        font-size: 36px;
        grid-area: content;
      }

      > span:nth-child(3) {
        font-size: 27px;
        grid-area: subContent;
      }

      > .control {
        display: flex;
        font-size: 26px;
        grid-area: control;

        > .controlButton {
          margin-right: 30px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        > .controlButton:hover {
          cursor: pointer;

        }
      }

    }

    .primaryProjectSlideContainer {
      height: 100%;
      grid-area: slide;
      overflow: hidden;
      width: 50vw;

      .primaryProjectSlide {
        height: 600px;
        width: 400px;
        overflow: visible;
        margin: 0;

        .slide {
          height: min-content;
          border-radius: 30px;
          overflow: visible;

          .cardFront {
            padding: 30px;
            display: flex;
            align-content: center;
            justify-content: center;
            height: 200px;
            position: relative;
            border-radius: 30px;
            background-color: #1c1c1c;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 2;
          }

          .cardBack {
            background-color: #181818;
            width: calc(100% - 60px);
            padding: 80px 30px 30px 30px;
            position: absolute;
          }

          .cardFront:hover {
            cursor: grab;
          }


        }
      }

    }

  }

  .secondaryProjectContainer {
    width: 100%;
    grid-area: secondaryProject;
    display: grid;
    grid-template-rows: min-content 50px min-content;
    grid-template-areas: "text" "." "display";

    .secondaryProjectText {
      grid-area: text;
      display: flex;
      flex-direction: column;

      span:nth-child(1) {
        font-size: 36px;
      }

      span:nth-child(2) {

        font-size: 27px;
      }
    }

    .secondaryProjectDisplay {
      width: 100%;
      grid-area: display;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, minmax(50px, auto));
      grid-auto-flow: dense;
      justify-items: stretch;
      place-content: space-between center;
      grid-gap: 20px;

      .secondaryProjectComponent {
        overflow: visible;
        transition: 0.3s;
        padding-top: 30px;

        .cardBack {
          color: #9C27B0;
          padding: 60px 30px 30px 30px;
          background: linear-gradient(180deg, #9C27B000 2.58%, #9C27B014 100%);
        }
      }

      .secondaryProjectComponent:hover {
        .cardBack {
          transform: translateY(-10px);
        }
      }
    }
  }

}

.titleStyle {
  font-weight: bolder;
  transform: rotate(0.04deg);
}

.contentStyle {
  font-weight: 500;
  line-height: 120%;
  transform: rotate(0.04deg);
}

.subContentStyle {
  font-weight: 500;
  color: #A18B68 !important;
  transform: rotate(0.04deg);
}

.opened {

}

.projectImg {
  height: 100px;
}


