.mainLayout {
  font-family: "nanumsquare", sans-serif;
  width: 100%;
  display: flex;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
  transition: 1s all;
  justify-content: center;


  .side {
    grid-area: side;
    min-width: 200px;
  }

  .side1 {
    grid-area: side1;
    min-width: 200px;
  }
}

.projectLayout {
  width: 1000px;

  .primaryProjectContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "text slide"". slide";

    .primaryProjectText {
      z-index: 2;
      grid-area: text;
      display: grid;
      overflow: visible;
      grid-template-rows: min-content 10px min-content 0px min-content 30px auto;
      grid-template-areas:
      "title"
      "."
      "content"
      "."
      "subContent"
      "."
      "control";

      > span:nth-child(1) {
        font-size: 40px;
        grid-area: title;
      }

      > span:nth-child(2) {
        font-size: 36px;
        grid-area: content;
      }

      > span:nth-child(3) {
        font-size: 27px;
        grid-area: subContent;
      }

      > .control {
        display: flex;
        font-size: 26px;
        grid-area: control;

        > .controlButton {
          margin-right: 30px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

        }

        > .controlButton:hover {
          cursor: pointer;

        }
      }

    }

    .primaryProjectSlideContainer {
      height: 100%;
      grid-area: slide;
      width: 100vw;
      overflow: hidden;

      .primaryProjectSlide {
        height: 100%;
        width: 400px;
        overflow: visible;
        margin-left: 0;

        .slide {
          width: 400px;
          border-radius: 30px;
          overflow: hidden;

          .cardFront {
            padding: 30px;
            display: flex;
            align-content: center;
            justify-content: center;
            height: 200px;
            position: relative;
            border-radius: 30px;
            background-color: #242424;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 2;
          }

          .cardBack {
            color: white;
            position: relative;
            background-color: #333333;
            z-index: 1;
            transition: 0.3s;
            padding: 80px 30px 30px 30px;
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            opacity: 0;

            > span:nth-child(1) {
              font-size: 20px;
              grid-area: title;
              padding-bottom: 10px;
            }

            > span:nth-child(2) {
              font-size: 16px;
              font-weight: 300 !important;
              grid-area: content;
              padding-bottom: 20px;
              color: #c0c0c0 !important;


            }

            > span:nth-child(3) {
              font-size: 13px;
              grid-area: subContent;
            }
          }
        }
      }

    }


  }

}

.titleStyle {
  font-weight: bolder;
  transform: rotate(0.04deg);
}

.contentStyle {
  font-weight: 500;
  line-height: 120%;
  transform: rotate(0.04deg);
}

.subContentStyle {
  font-weight: 500;
  color: #A18B68 !important;
  transform: rotate(0.04deg);
}

.opened {

}

.projectImg {
  height: 100px;
}
.skill{
  border-radius: 8px;
  color: #01d0f7;
  background: rgba(#01d0f7, 0.4);

  padding: 4px 10px 4px 10px;
}