.mainLayout {
  width: 100%;
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-areas: ". content .";
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);

  .aboutLayout {
    height: 100px;
    display: grid;
    grid-area: content;
    grid-template-rows: 400px auto 10px auto 10px auto 100px auto 50px;
    grid-template-areas:
  ". . . . . . . . . . . ."
  "title1 title1 title1 title1 title1 title1 title1 title1 title1 title1 title1 title1"
  ". . . . . . . . . . . ."
  "title2 title2 title2 title2 title2 title2 title2 title2 title2 title2 title2 title2"
  ". . . . . . . . . . . ."
  "author author author author author author author author author author author author"
  ". . . . . . . . . . . ."
  ". description description description description description description description description description description ."
  ". . . . . . . . . . . .";
    grid-template-columns: repeat(12, 1fr);

    .titleText {
      font-weight: 700;
      font-size: 64px;

    }

    .title1 {
      grid-area: title1;
    }

    .title2 {
      grid-area: title2;
    }

    .description {
      grid-area: description;
    }

    .author {
      grid-area: author;
    }
  }
}

@media (min-width: 1080px) {
  .aboutLayout {
  }
  @media (min-width: 1320px) {
    .aboutLayout {
      column-gap: 20px;
    }
  }
  @media (max-width: 1319px) {
    .aboutLayout {
      column-gap: 10px;
    }
  }
}
