.mainLayout {
  font-weight: 700;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
  transition: 1s all;
  display: flex;
  justify-content: center;

  .aboutLayout {
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-area: content;
    grid-template-rows: 250px min-content 50vh min-content 50vh;
    justify-items: center;
    grid-template-areas:
  "."
  "quoteArea"
  "."
  "skills"
  ".";

    .skillsContainer {
      max-width: 900px;
      display: flex;
      height: min-content;
      grid-area: skills;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      gap: 80px;

      .skillIntro {
        font-family: "nanumsquare", sans-serif;
        line-height: 86px;
        font-size: 64px;
        display: flex;
        width: 700px;
        font-weight: bolder;

        .skillIntroText {
          transition: 1s;
          color: gray;
        }

        .skillIntroType {
          transition: 1s;
          padding-left: 20px;
        }
      }

      .techStackContainer {
        font-size: 20px;
        display: grid;
        grid-template-rows: min-content min-content min-content;
        gap: 10px;
        grid-template-areas:
                "title1 content1"
                "title2 content2"
                "title3 content3";

        div {
          transition: 1s all;
          overflow: hidden;
        }

        .languageT {
          grid-area: title1;
          transition-delay: 100ms;
        }

        .languageC {
          grid-area: content1;
          transition-delay: 200ms;
        }

        .frameworkT {
          grid-area: title2;
          transition-delay: 300ms;
        }

        .frameworkC {
          grid-area: content2;
          transition-delay: 400ms;
        }

        .toolsT {
          grid-area: title3;
          transition-delay: 500ms;
        }

        .toolsC {
          grid-area: content3;
          transition-delay: 600ms;
        }
      }
    }

    .aboutIntroContainer {
      width: 100%;
      display: flex;
      grid-area: quoteArea;
      flex-direction: column;
      gap: 50px;

      .quoteContainer {
        grid-area: title;
        line-height: 84px;
      }

      .descriptionContainer {
        grid-area: description;
        text-align: center;
      }

      .titleText {
        font-family: 'IBM Plex Serif', serif;
        font-size: 64px;
      }

      .titleSubText {
        font-size: 20px;
      }


      .quote {
        transition: 1s all;
      }

      .author {

        transition: 1s all;
        transition-delay: 800ms;
        text-align: center;
      }

      .description {
        transition: 1s all;
        transition-delay: 1000ms;
        opacity: 0;
      }
    }
  }
}

.activateAnimation {
  .animation {
    opacity: 1 !important;
    transform: none !important;
  }
}

@media (min-width: 1080px) {
  .aboutLayout {
  }
  @media (min-width: 1320px) {
    .grid {
      column-gap: 20px;
    }
    .quote2 {
      text-align: right;
    }
  }
  @media (max-width: 1319px) {
    .grid {
      column-gap: 10px;
    }
    .quote2 {
      text-align: center;
    }
  }
}

.line {
  width: 100%;
  overflow: hidden;
}

.reverse {
  text-align: right;
}

.gray {
  color: gray;
}

.left {
  transform: translateX(-100%);
}

.right {
  transform: translateX(100%);
}

.up {
  transform: translateY(-100%);
}

.down {
  transform: translateY(100%);
}
