.mainLayout {
  font-weight: 700;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(800px, 1440px) 1fr;
  grid-template-areas: "side content side1";
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
  transition: 1s all;

  .side {
    grid-area: side;
    min-width: 200px;
  }

  .side1 {
    grid-area: side1;
    min-width: 200px;
  }

  .aboutLayout {

    width: 100%;
    display: grid;
    grid-area: content;
    grid-template-rows: 250px min-content 50px;
    grid-template-areas:
  ". . . . . . . . . . . ."
  ". quoteArea quoteArea quoteArea quoteArea quoteArea quoteArea quoteArea quoteArea quoteArea quoteArea ."
  ". . . . . . . . . . . .";
    grid-template-columns: repeat(12, 1fr);

    .quoteContainer {
    width: 100%;
    display: grid;
      grid-area: quoteArea;
      grid-template-areas:
              "title1 title1 title1 title1 title1 title1 title1 title1 title1 title1"
              ". . . . . . . . . ."
              "title2 title2 title2 title2 title2 title2 title2 title2 title2 title2"
              ". . . . . . . . . ."
              "author author author author author author author author author author"
              ". . . . . . . . . ."
              ". description description description description description description description description .";
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: min-content 0 min-content 30px min-content 100px min-content;

      .titleText {
        font-size: 64px;
        opacity: 0;
      }


      .titleSubText {
        font-size: 20px;
      }

      .translucent {
        color: gray;
      }

      .quote1 {
        grid-area: title1;
        min-width: 757px;
      }

      .quote2 {
        grid-area: title2;
      }

      .author {
        grid-area: author;
        text-align: center;
        opacity: 0;
      }

      .description {
        grid-area: description;
        opacity: 0;
      }
    }
  }
}

.activateAnimation {

  .quote1 {
    animation: LTR 1s forwards;
  }

  .quote2 {
    animation: RTL 1s forwards;
  }

  .author {
    animation: showUp 3s forwards;
    animation-delay: 0.5s;
  }

  .description {
    animation: showUp 3s forwards;
    animation-delay: 1s;
  }
}

@media (min-width: 1080px) {
  .aboutLayout {
  }
  @media (min-width: 1320px) {
    .aboutLayout {
      column-gap: 20px;
    }
    .quote2 {
      text-align: right;
    }
  }
  @media (max-width: 1319px) {
    .aboutLayout {
      column-gap: 10px;
    }
    .quote2 {
      text-align: center;
    }
  }
}

@keyframes RTL {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes LTR {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}