.mainLayoutHome {
  width: 100vw;
  height: 100vh;
  grid-area: content;
  position: fixed;
  display: grid;
  place-items: center;
  background: #111111;
  grid-template-columns: 1fr minmax(200px, 1440px) 1fr;
  grid-template-areas: "side content side1";
  min-height: 100vh;
  transition: 1s all;

  .side {
    grid-area: side;
    min-width: 200px;
  }

  .side1 {
    grid-area: side1;
    min-width: 200px;
  }
}

.homeLayout {
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-area: content;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  place-items: center;
  background: #111111;
  color: white;
  grid-template-areas:
  ". . . . . . . . . ."
  ". header header header header header header header header ."
  ". . . . . . . . . .";

  .homeHeader {
    grid-area: header;
    display: flex;
    justify-content: center;
    flex-direction: column;

    > .TitleContainer {
      transform: rotate(0.04deg);
      font-size: 64px;
      display: flex;
      flex-direction: row;
      align-items: baseline;

      > .homeHeaderTitleText {
        display: inline
      }

      > .shaker {
        width: 50px;
        height: 50px;
        animation: showUp 1s forwards, wave 1s forwards;
        animation-delay: 1s, 1.5s;
        animation-fill-mode: both;

        > .homeHeaderTitleIcon {
          background-size: contain;

          width: 100%;
          height: 100%;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        > .homeHeaderTitleIcon:hover {
          animation: wave 1s forwards;
          animation-delay: 0.1s;
          cursor: pointer;
          animation-iteration-count: 1;
        }
      }
    }

    > .content {
      font-size: 24px;
      font-weight: 200;
      font-family: "roboto", serif;
    }
  }
}

@media (min-width: 1080px) {
  .homeLayout {
  }
  @media (min-width: 1320px) {
    .homeLayout {
      column-gap: 20px;
    }
  }
  @media (max-width: 1319px) {
    .homeLayout {
      column-gap: 10px;
    }
  }
}

@keyframes showUpAndWave {
  0% {
    animation: wave 1s forwards;
  }
  50% {
  }
}