.homeLayout {
  width: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 30vh 30vh 40vh;
  grid-template-areas:
    ". . . . . . . . . ."
    "header header header header header header . . . ."
    ". . . . . . . . . .";
  .homeHeader {
    grid-area: header;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
}
@media (min-width: 1080px) {
  .homeLayout {
    grid-template-columns: repeat(10, 90px);
  }
  @media (min-width: 1320px) {
    .homeLayout {
      column-gap: 20px;
    }
  }
  @media (max-width: 1319px) {
    .homeLayout {
      column-gap: 10px;
    }
  }
}
//1440 120
//1320 110
//1080 90
