.mainLayoutContact{
  font-family: "nanumsquare", sans-serif;
  font-weight: 100;
  transition: 1s;
  height: 100vh;
  font-size: 128px;
  color: var(--bg-color);
  background: var(--primary-color);
}