.App {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--primary-color);
  transition: 0.5s all;
}


html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.layoutMain {
  display: grid;
  grid-template-areas:
    "left home right"
    "left aboutMe right"
    "left projects right"
    "left contacts right";

  > div {
  }

  .gridLeftSpace {
    grid-area: left;

  }

  .gridHome {
    grid-area: home;
    scroll-snap-align: start;
  }

  .gridAboutMe {
    grid-area: aboutMe;
    scroll-snap-align: start;
  }

  .gridProjects {
    grid-area: projects;
    scroll-snap-align: none;

  }

  .gridContacts {
    grid-area: contacts;
    scroll-snap-align: none;
  }

  .gridRightSpace {
    grid-area: right;
  }
}

@media (min-width: 1080px) {
  .layoutMain {
    grid-template-columns: 80px auto 80px;
  }
  @media (min-width: 1320px) {
    .layoutMain {
      width: 1300px;
      column-gap: 30px;
    }
  }
  @media (max-width: 1319px) {
    .layoutMain {
      width: 1070px;
      column-gap: 20px;
    }
  }
}
