.App {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--primary-color);
  transition: 0.5s all;
}


html {
}

.layoutMain {
  display: grid;
  grid-template-areas:
    "home"
    "aboutMe"
    "projects"
    "contacts";

  > div {
  }

  .fixed {
    position: fixed;
  }

  .gridHome {
    grid-area: home;
    opacity: 0;
    height: 100vh;
  }

  .gridAboutMe {
    grid-area: aboutMe;
  }

  .gridProjects {
    grid-area: projects;
  }

  .gridContacts {
    grid-area: contacts;
  }

  .gridRightSpace {
    grid-area: right;
  }
}

.floatLayout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "uperLeft right"
    "lowerLeft right";
  background-color: rgba(0, 0, 0, 0);

  > .menuBar {
    grid-area: uperLeft;
  }

  > .socials {
    grid-area: lowerLeft;
  }

  > .progress {
    grid-area: right;
  }
}

@media (min-width: 1080px) {
  .layoutMain {
    grid-template-columns:  1320px;
  }
  @media (min-width: 1320px) {
    .layoutMain {
      width: 1300px;
      column-gap: 30px;
    }
  }
  @media (max-width: 1319px) {
    .layoutMain {
      width: 1070px;
      column-gap: 20px;
    }
  }
}
