.navBar {
  margin: 0;
  padding: 0;
}
.navBarMenu {
  position: fixed;
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  transition: 0.25s all;
  a {
    margin: 0;
    padding: 0 0 30px 0;
    opacity: 50%;
    mix-blend-mode: difference;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }
}
.focus {
  opacity: 100% !important;
  transition: 0.1s all;
}
.lightFont {
  font-weight: 100;
}

.blackFont {
  font-weight: 900;
  text-transform: uppercase;
}
