.navBar {
  margin: 0;
  padding: 0;
}

.navBarMenu {
  position: fixed;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  transition: 0.1s all;

  a {
    padding: 2px;
    border: 0;
    margin: 0 0 30px 0;
    mix-blend-mode: difference;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    opacity: 50%;
    cursor: pointer;
  }
}

.focus {
  opacity: 100% !important;
  transition: 0.1s all;
}

.normalFont {
  font-weight: normal;  overflow: hidden !important;

}

.boldFont {
  font-weight: bold;
}
