.scrollArea {
  height: 100%;

  .scrollIndicatorText {
    font-family: "ibm-plex-serif", serif;
    text-decoration: none;
    color: white;
    transform: rotate(0.04deg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    writing-mode: vertical-rl;
  }
}