.scrollArea {
  height: 100%;

  .scrollIndicatorText {
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;
    color: white;
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    writing-mode: vertical-rl;
  }
}

.gray {

}